body {
  margin: 0;
  color: rgb(249, 249, 249);
  background-color: #040714;
  font-family: Avenir-Roman, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
